<div class="form-grid">
    <div class="form-container">
        <label for="firstname" class="form-label">First Name</label>
        <input id="firstname" type="text" pInputText />
    </div>
    <div class="form-container">
        <label for="lastname" class="form-label">Last Name</label>
        <input id="lastname" type="text" pInputText />
    </div>
    <div class="form-container">
        <label for="username" class="form-label">Username</label>
        <input id="username" type="text" pInputText />
    </div>
    <div class="form-container">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="text" pInputText />
    </div>
</div>