<form *ngIf="userForm" [formGroup]="userForm">
    <div class="form-grid">
        <div class="form-container">
            <label for="firstname" >First Name</label>
            <input id="firstname" type="text" formControlName="FirstName" pInputText />
        </div>
        <div class="form-container">
            <label for="lastname" >Last Name</label>
            <input id="lastname" type="text" formControlName="FirstName" pInputText />
        </div>
        <div class="form-container">
            <label for="username" >Username</label>
            <input id="username" type="text" formControlName="FirstName" pInputText />
        </div>
        <div class="form-container">
            <label for="email">Email</label>
            <input id="email" type="text" formControlName="FirstName" pInputText />
        </div>
    </div>
</form>
